.text-danger{
    color: red;
}

.bg-blue{
    background-color: blue;
}

#encabezado-uno{
    color:blue;
}
h1{
    color: orangered;
}

p{
    color: #79d0a9;
    background-color: #ffbd69;
}

h3{
    color:6FEDD6;
}

h4{
    color: rgba(255, 115, 70, 0.9);
}

#encabzado-seis{
    color: red;
}
